.spinner {
  position: absolute;
  inset: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

footer {
  max-width: 1300px;
}

.phone-navbar {
  gap: 1.5rem !important;
}

.user-actions {
  align-items: center;
  display: flex;
  gap: 1.5rem;
}

.sign-up-login {
  gap: 0.5em;
}

.sign-up-text,
.login-text {
  display: inline;
}

.sign-up-icon,
.login-icon {
  display: none;
}

.form,
.form-control,
input {
  direction: rtl;
  z-index: 0 !important;
}

.form-floating > label {
  right: 0 !important;
}

.form-check {
  display: flex;
  align-items: center;
}

.form-check-input {
  float: right;
  margin: unset;
  margin-left: 0.5rem !important;
}

.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  transform: unset !important;
}

label {
  padding: 0px 0.75rem !important;
}

button {
  color: white !important;
  background-color: #037b94 !important;
}

.vOnclick-logo {
  width: 25% !important;
}

@media screen and (max-width: 1200px) {
  .container-cards {
    justify-content: center !important;
  }

  .card-info-body {
    flex-direction: column;
  }

  .card {
    width: 90% !important;
  }

  .phone-navbar {
    justify-content: space-between;
  }

  .sign-up-login {
    display: flex;
    flex-direction: row;
    margin-bottom: unset !important;
    gap: 1.5em;
  }

  .sign-up-text,
  .login-text {
    display: none;
  }

  .sign-up-icon,
  .login-icon {
    display: inline;
  }
  .container-form {
    width: 90% !important;
    margin: 0 auto;
  }

  .form {
    width: 100% !important;
  }
}
